<!-- Conteúdo -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Categorias</h1>
</div>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let categoria of categorias" class="card mb-4 shadow-sm">
        <cin-categoria [categoria]="categoria"></cin-categoria>
      </div>
    </div>
    <div>
      <button (click)="incluirCategoria()">Incluir Categoria</button>
    </div>
  </div>
</main>